<!-- MathJax Js -->
<script
  async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript"
>
  MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
          skipTags: ["script", "noscript", "style", "textarea", "pre", "code", "a"],
          inlineMath: [["$", "$"], ["\(", "\)"], ["\\(", "\\)"]],
          displayMath: [["$$", "$$"], ["\[", "\]"], ["\\[", "\\]"]],
          processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

<!-- Live 2D -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.css"
/>
<script
  defer="defer"
  src="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/l2d.min.js"
></script>
<script
  defer="defer"
  src="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.js"
  onload='if (screen.width > screen.height) {
    let pio_container = document.createElement("div");
    pio_container.classList.add("pio-container");
    pio_container.classList.add("right");
    document.body.insertAdjacentElement("beforeend", pio_container);
    let pio_action = document.createElement("div");
    pio_action.classList.add("pio-action");
    pio_container.insertAdjacentElement("beforeend", pio_action);
    let pio_canvas = document.createElement("canvas");
    pio_canvas.id = "pio";
    pio_canvas.style.width = "14rem";
    pio_canvas.width = "600";
    pio_canvas.height = "800";
    pio_container.insertAdjacentElement("beforeend", pio_canvas);
    let pio = new Paul_Pio ({
      "mode": "draggable",
      "hidden": true,
      "content": {
        "skin": ["要换成我的朋友吗？", "让她放个假吧~"],
        "custom": [{
          "selector": ".post-title a", "type": "link",
        }]
      },
      "model": [
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.default.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.default.json",
        // "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.xmas.1.json",
        // "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.xmas.1.json",
        // "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.xmas.2.json",
        // "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.xmas.2.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.cba-normal.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.cba-normal.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.newyear.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.newyear.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.school.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.school.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.summer.normal.1.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.summer.normal.1.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.summer.normal.2.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.summer.normal.2.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.tomo-bukatsu.high.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.tomo-bukatsu.high.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.tomo-bukatsu.low.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.tomo-bukatsu.low.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.valley.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.valley.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2017.vdays.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2017.vdays.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2018.lover.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2018.lover.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2018.spring.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2018.spring.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/22/model.2018.bls-winter.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2018.bls-winter.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/penchan/penchan.model.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/shizuku/shizuku.model.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/wanko/wanko.model.json",
        "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/xiaomai/xiaomai.model.json"
      ]
    });
  }'
></script>
